#––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
# `.env.example`
# @organization: Semantyk
# @project: Ecosystem
#
# @file: This file documents the environment variables for the knowledge app.
#
# @created: 2026-09-02 12:06
# @modified: 2026-09-02 12:36
#
# @since: 0.1.0-alpha.42
# @version: 0.1.0-alpha.43
#
# @author: Semantyk Team
# @maintainer: Daniel Bakas <daniel@semantyk.com>
#
# @copyright: Semantyk © 2026
#––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

CREDENTIALS=change-me:change-me
